/* ALL CSS STYLES */

/* ......loading */

/* UNIVERSAL STYLES */
* {
    margin: 0;
    padding: 0;
}

/* ALL TEXT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,700;1,500&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */


/* BODY STYLES */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
}

/* container styles */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.flex-container .left {
    height: 500px;
}

.flex-container .left img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* flex right */
.flex-container .right {
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    height: 500px;
    background: white;
    text-align: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right .content {
    padding: 30px;
}

.right .header p {
    letter-spacing: 5px;
    color: gray;
    font-weight: 500;
}

.right .large-text,
.right .paragraph,
.right .price {
    margin-top: 20px;
}

.right .large-text {
    font-size: large;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.right .paragraph {
    color: gray;
}

.right .price {
    display: flex;
    align-items: center;
}

.right .price .price-left {
    font-size: 35px;
    font-weight: 700;
    margin-right: 20px;
    color: green;
}

.right .price .price-right {
    text-decoration: line-through;
}

.right .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.3 ease;   
}

.right .cart:hover {
    background: #006400;
}

.right .cart-logo {
    margin-right: 15px;
}

/* styles for the cart-text */
.right .cart-text {
    
}

/* attribution styles */
.attribution {
    margin-bottom: 20px;
}


/* Responsive styles... */
@media (min-width: 350px) and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    
    .flex-container .left {
        height: 400px;
        margin-top: 20px;
    }

    .flex-container .left img {
        width: 300px;
        height: 400px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .flex-container .right {
        width: 300px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

}

